/*ESTILO PAGINA CUENTA.HTML(FORMULARIO)*/

.register-bg {
    background-image: url('../img/banner.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.testiomonial {
    bottom: 10px
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) { 
    .register-bg {
        min-height: 50vh;
    }
}

label{
  color: white;

}

.tema{
  color: white;
  text-decoration: none;
  text-align: center;

}

h3{
  color: white;
  text-align: center;
}

.footer{
    background-color:rgb(36, 25, 116);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
footer p{
    text-align: center;
    color: white;
    padding: 25px;
    font-size: 15px;
}
.footer img{
    width: 65px;
    padding: 10px;
}
.encabezado{
color: white;
text-decoration: underline;
text-transform: uppercase;
text-align: center;
}
.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
}


/*Cartelera*/ /*tablas*/



#Carteleras{
    margin: 25px auto;
    border-style: solid;
    border-collapse: collapse;
}

#Carteleras td, th{
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

#Carteleras th{
    border-style: none;
    background-color:grey;
    color:white;
}



.content-video {
    text-align: center;

}

video{
    width:62%; 
    height:33.33%;
}
#videos_t{
    text-align: center;
}

